﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Form parameters parsing</h3>
</div>

<p>
    <big>
        <ul>
            <li><a asp-area="" asp-controller="CalcService" asp-action="Manual">Manual (parameters)</a></li>
            <li><a asp-area="" asp-controller="CalcService" asp-action="Inject">Inject Service</a></li>
            <li><a asp-area="" asp-controller="CalcService" asp-action="ModelBinding">Model binding (parameters)</a></li>
        </ul>
    </big>
</p>