﻿@{
    ViewData["Title"] = "Inject Service";
}

@inject LabWork_2_2.Services.ICalculator calc
@model LabWork_2_2.Models.CalcTask
@* Построение формы с использованием tag helper *@

<div>
    <h3>Inject Service</h3>
</div>

<form asp-action="Inject" asp-controller="CalcService" asp-antiforgery="true">
    <div>
        <label><b>First Number</b></label>
        <input type="number" asp-for="FirstNumber" />
    </div>
    <div>
        <label><b>Operation</b></label>
        <select asp-for="OperationId" asp-items="ViewBag.Operations"></select>
    </div>
    <div>
        <label><b>Second Number</b></label>
        <input type="number" asp-for="SecondNumber" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

@if (ViewBag.Task != null)
{
    <div>
        <h3>Result</h3>
    </div>
    <div>
        <label><b>@calc.Solution(ViewBag.Task)</b></label>
    </div>
}
