﻿@{
    ViewData["Title"] = "Pass Using Model";
}

@* Построение формы с использованием html helper *@

<div>
    <h3>Model Binding In Parameters</h3>
</div>

@using (Html.BeginForm("Manual", "CalcService", FormMethod.Post))
{
    <div>
        <label><b>First Number</b></label>
        @Html.TextBox("FirstNumber", "", new { type = "number" })
    </div>
    <div>
        <label><b>Operation</b></label>
        @Html.DropDownList("OperationId", ViewBag.Operations,"", "")
    </div>
    <div>
        <label><b>Second Number</b></label>
        @Html.TextBox("SecondNumber", "", new { type = "number" })
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
}


@if (ViewBag.Result != null)
{
    <div>
        <h3>Result</h3>
    </div>
    <div>
        <label><b>@ViewBag.Result</b></label>
    </div>
}
