﻿@{
    ViewData["Title"] = "Pass Using Model";
}

@model LabWork_2_2.Models.CalcTask
@* Построение формы с использованием tag helper *@

<div>
    <h3>Model Binding In Parameters</h3>
</div>

<form asp-action="ModelBinding" asp-controller="CalcService" asp-antiforgery="true">
    <div>
        <label><b>First Number</b></label>
        <input type="number" asp-for="FirstNumber" />
    </div>
    <div>
        <label><b>Operation</b></label>
        <select asp-for="OperationId" asp-items="ViewBag.Operations"></select>
    </div>
    <div>
        <label><b>Second Number</b></label>
        <input type="number" asp-for="SecondNumber" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

@if (ViewBag.Result != null)
{
    <div>
        <h3>Result</h3>
    </div>
    <div>
        <label><b>@ViewBag.Result</b></label>
    </div>
}
